//mixins
@mixin font_regular {
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}
@mixin font_phone{
  font-family: "Open Sans-Condensed Light";
  font-size: 40px;
  font-weight: 400;
  line-height: 46px;
}
//variables
$color_regular: #767676;
$color_white:  #fff;
$bg_header: #dcdcdc;

body {
  margin: 0;
  padding: 0;
  @include font_regular;
}
.container {
  width: 980px;
  margin: 0 auto;
  padding: 10px;
}
p {
  margin: 0;
  padding: 0;
}
header {
  background-color: $bg_header;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 65px 0;
    .wrapper{
      min-width: 50%;
      &:last-child{
        text-align: right;
      }
    }
    .logo {
      display: flex;
      align-items: center;
      .image {
        width: 100px;
        height: 100px;
      }
      .name {
        color: $color_regular;
        max-width: 170px;
        padding-left: 14px;
        .title {
          font-size: 2rem;
          font-weight: 700;
          margin-bottom: 20px;
        }
      }
    }
    .phone {
      @include font_phone;
      p{
        a{
          letter-spacing: 1px;
          color: $color_regular;
          text-decoration: none;
        }
      }
    }
  }
}